:root {
  /*Colors*/
  --color-background: #c8b493;

  /*Font*/
  --main-font: "Rye", cursive;
  --body-font: "Roboto Slab", serif;

  /*Gap*/
  --margin: 20px;
}

/*Basic change*/
body {
  cursor: default;
  margin: 0;
  background-color: var(--color-background);
}
h1 {
  font-family: var(--main-font);
  font-size: 50px;
}
h2 {
  font-family: var(--main-font);

  font-size: 35px;
}
h3 {
  font-size: 20px;
}
span {
  font-family: var(--body-font);
  font-size: 16px;
}
li {
  list-style: none;
  font-family: var(--body-font);
}
button {
  all: unset;
}
a {
  text-decoration: none;
  color: black;
}

.sections {
  margin-top: 40px;
}

/*Header*/
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--margin);
}
#header .header__name {
  padding: 0 40px;
}
#header .header__name_img {
  width: 300px;
  height: 150px;
}

/*Header bar*/
#header__bar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: var(--margin);
  font-family: var(--body-font);
}
#header__bar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
}
#header__bar::before {
  content: "";
  background-color: black;
}

/*Braking news*/
.breaking__header {
  margin: 0px;
  margin-top: 40px;
  text-align: center;
  font-size: 90px;
}
#breakings {
  display: flex;
  width: 100%;
  height: 700px;
  margin: 0 auto 40px auto;
}
#breakings .breaking__header {
  margin: var(--margin);
  text-align: center;
}

#breakings button img {
  width: 150px;
  height: 100px;
  padding-right: var(--margin);
}

#breakings .breakingsBtn img:hover {
  background-color: #a3895f;
  border-radius: 50px;
  cursor: pointer;
  transition: all 300ms ease-out;
}

#breakings .breakings_rightBtn img {
  width: 130px;
  height: 85px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 5px;
}

#breakings .breakings {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 600px;
  margin: auto;
}

#breakings .breaking {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
}

.breaking .breaking__img {
  width: 100%;
  object-fit: none;
}

.breakings .breaking__info {
  padding: var(--margin) 0;
}
.breakings .breaking__info h2 {
  display: inline;
  padding-right: 2px;
}
.breakings .breaking__info:hover {
  background-color: rgba(158, 127, 77, 0.39);
  border-radius: 4px;
  transition: all 300ms linear;
}
/*Main news*/
#mainNews {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  margin: var(--margin);
  margin-bottom: 60px;
}

/*Main news left*/
#mainNews__left {
  padding-right: var(--margin);
  border-right: 1px dotted black;
  flex: 60%;
}
#mainNews__left .mainNews__left_header {
  text-align: center;
  margin: 0;
}
#mainNews__left .mainNews__items {
  display: flex;
}
#mainNews__left .mainNews__left_img {
  width: 60%;
  height: 80%;
  margin-top: 30px;
}

#mainNews__left .mainNews__item .mainNews__item_name {
  cursor: pointer;
}
#mainNews__left .mainNews__item h3 {
  margin-bottom: 4px;
  font-weight: bold;
  text-align: center;
  border: 3px solid transparent;
  background-color: transparent;
  border-radius: 5px;
}
#mainNews__left .mainNews__item .active,
#mainNews__left .mainNews__item h3:hover {
  border: 3px solid white;
  background-color: #a3895f;
  border-radius: 5px;
  transition: background-color 300ms linear;
}

/*Main news right*/
#mainNews__right {
  margin-right: var(--margin);
  flex: 40%;
}
.mainNews__rightNews:last-child {
  margin-bottom: var(--margin);
}
.mainNews__rightNews img {
  width: 230px;
  height: 180px;
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
#mainNews__right .mainNews__rightNews {
  padding: var(--margin);
}
#mainNews__right .mainNews__right_header {
  margin: 0;
  margin-bottom: var(--margin);
}

/*Ad*/
#ad {
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease-in;
  position: relative;
  margin-bottom: 80px;
}
#ad .ad__top_info {
  text-align: center;
  margin-bottom: var(--margin);
}
.ad__top_info h2,
.ad__top_info h3 {
  margin: 5px;
}
#ad .ad__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#ad .ad__items .ad__item {
  padding: 13px;
}
#ad .ad__items .ad__item:hover {
  background-color: rgba(0, 0, 0, 0.281);
  border-radius: 50%;
  transform: scale(1.1);
  cursor: pointer;
  transition: all 300ms ease-out;
}
#ad .ad__items img {
  width: 180px;
  height: 220px;
}
#ad .ad__items_popup {
  width: 80%;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.781);
  position: absolute;
  visibility: hidden;
}
.ad__items_popup .popup_img {
  width: 130px;
  height: 170px;
  margin: 7px 0 0 7px;
  border: 5px double white;
}
.ad__items_popup .popup_info {
  color: white;
}
.ad__items_popup .popup_close {
  font-size: 20px;
  color: white;
  top: 18px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}

/*Game*/
#game {
  width: 100%;
  height: 500px;
  padding: 50px 0px;
  border-top: 4px dashed black;
  border-bottom: 4px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game .game__board {
  width: 90%;
  height: 90%;
  border: 3px solid black;
  background: url("images/game_bg.png") center/cover no-repeat;
  position: relative;
  overflow: hidden;
}

.game__board .game__tools {
  width: 80px;
  height: 100px;
  position: absolute;
  transition: all 300ms ease-in;
  pointer-events: none;
}

.game__board .fish {
  width: 80px;
  height: 40px;
  position: absolute;
  transition: all 400ms cubic-bezier(0.32, -0.04, 0.98, 0.57);
}

.game__board .game__popup {
  color: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: color 300ms ease-in;
}
.game__board .hide {
  display: none;
}
.game__board .game__popup:hover {
  color: blanchedalmond;
}
.game__popup span {
  font-size: 40px;
  padding: 10px;
}

/*Footer*/
#footer {
  width: 100%;
  height: 20vh;
  background-color: rgba(158, 127, 77, 0.39);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.footerTop {
  color: rgb(88, 88, 88);
  font-size: 16px;
}
#footer li {
  flex-wrap: wrap;
}
#footer ul span {
  font-size: 12px;
}
#footer ul {
  padding: 0px;
  margin: 5px;
}
#footer a {
  display: flex;
}

#footer i {
  opacity: 0;
  margin-right: 5px;
  transition: all 300ms ease-in;
}
#footer ul:hover i {
  opacity: 1;
  color: rgba(82, 51, 3, 0.815);
}

@media screen and (max-width: 1250px) {
  #breakings .breakingsBtn {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #mainNews {
    flex-direction: column;
  }
  #mainNews__left {
    border-right: none;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }
  span {
    font-size: 12px;
  }
  #header {
    padding: 0px;
  }
  #header .header__name_img {
    position: absolute;
    width: 180px;
    height: 90px;
    top: 40px;
  }
  #header .header__name {
    margin-top: 100px;
    padding: var(--margin);
  }
  .breaking__header {
    font-size: 50px;
  }
  #mainNews__left .mainNews__item span {
    display: none;
  }
}
